@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Results.Count > 0)
{
<div class="card-columns">
    @foreach (var thumbnail in Model.Results)
    {
        <div class="card">
            <img class="card-img-top" src="@thumbnail.ThumbnailUrl" alt="">
            <div class="card-body">
                <p class="card-text">@thumbnail.Caption</p>
                @foreach (var tag in thumbnail.Tags)
                {
                    <a href="/?query=Tags=@tag">@tag</a>
                }
            </div>
            <div class="card-footer text-muted">
                @thumbnail.UploadedDate.Humanize()
            </div>
        </div>
    }
</div>
}       
else
{
<div class="jumbotron">
    <h3>No images yet</h3>
</div>
}
